h1,
h2,
h3,
p {
  padding: 0px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #434455;
  background-color: #ffffff;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-border {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.footer .display-flex {
  align-items: baseline;
}
.display-flex {
  display: flex;

  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
}

.menu {
  display: flex;

  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  gap: 40px;
}

.current-page::after {
  content: "";
  display: block;
  border: solid;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.footer .display-flex-gap-ul {
  gap: 16px;
}
.display-flex-gap-ul {
  display: flex;

  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  justify-content: center;
  gap: 24px;
}

.align-items-center {
  align-items: center;
}
.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.logo-studio {
  color: #2e2f42;
}

.address {
  margin-left: auto;
  font-style: normal;
  color: #434455;
}

.page-link-colors {
  color: #2e2f42;
}

.page-link-colors.current-page {
  color: #404bbf;
  position: relative;
}
.external-link-colors {
  color: #434455;
}
p.navigation-menu {
  padding: 0;
  color: #ffffff;
  margin-bottom: 16px;
}
.navigation-menu {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address .navigation-menu {
  font-weight: 400;
}
.navigation-menu-link {
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-menu-link:focus,
.navigation-menu-link:hover {
  color: #404bbf;
}

.headline-section {
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0 188px;
  background-color: #2e2f42;
  letter-spacing: 0.02em;
}
.headline {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
  margin: auto;
  margin-bottom: 48px;
}

.headline-button {
  display: block;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.headline-button:hover,
.headline-button:focus {
  background-color: #404bbf;
}
.padding {
  padding-top: 120px;
  padding-bottom: 120px;
}
.padding-thirty-two {
  padding-top: 32px;
  padding-bottom: 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.portfolio-list {
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.width-calc {
  flex-basis: calc((100% - 3 * 16px) / 3);
}

.width-calc-portfolio {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.width-calc-portfolio:hover,
.width-calc-portfolio:focus {
  color: inherit;
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.width-calc-portfolio:hover .hidden-paragraph {
  transform: translateY(0);
}
.positon-relative {
  position: relative;
  overflow: hidden;
}

.hidden-paragraph {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.hthree-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.padding-thirty-two .hthree-title {
  text-align: center;
}
.feature-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-section {
  background-color: #f4f4fd;
}
.section-title {
  letter-spacing: 0.02em;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.social-media-item {
  width: 40px;
  height: 40px;
}
.social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}
.footer .icon-social {
  width: 24px;
  height: 24px;
}
.icon-social {
  fill: #f4f4fd;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-text-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0 100px;
}
.wrap {
  margin-right: 120px;
}
.footer .portfolio-paragraph {
  color: #f4f4fd;
  max-width: 264px;
}
.span-logo-white {
  color: #f4f4fd;
}

footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer .social-media-link:focus,
.footer .social-media-link:hover {
  background-color: #31d0aa;
}
