/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") /* IE6-IE8 */
      url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-latin_cyrillic-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin_cyrillic-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"),
    url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-latin_cyrillic-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin_cyrillic-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v18-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/raleway-v18-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/raleway-v18-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/raleway-v18-latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/raleway-v18-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/raleway-v18-latin_cyrillic-regular.svg#Raleway")
      format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v18-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/raleway-v18-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/raleway-v18-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/raleway-v18-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/raleway-v18-latin_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/raleway-v18-latin_cyrillic-700.svg#Raleway") format("svg"); /* Legacy iOS */
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

:root {
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --black: #212121;
  --gray: rgba(255, 255, 255, 0.6);
  --white: #ffffff;
  --dark-background-color: #2f303a;
  --light-background-color: #f5f4fa;
  --icon-color: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

ul {
  list-style-type: none;
  padding: 0px;
}

address {
  font-style: inherit;
}
.image {
  display: block;
}
.link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.portfolio-item .link:hover,
.portfolio-item .link:focus {
  color: inherit;
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.link:hover .icon-envelope,
.link:focus .icon-envelope,
.link:hover .icon-smartphone,
.link:focus .icon-smartphone {
  fill: var(--accent-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.header {
  background-color: var(--white);
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
}
.header-information {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  height: 80px;
}
.navigation-menu {
  display: flex;
  margin-left: 93px;
}
.navigation-menu-item:not(:first-child) {
  margin-left: 50px;
}

.navigation-link {
  color: var(--black);
}

.navigation-menu-item .current {
  color: var(--accent-color);
}

.header-contacts li + li {
  margin-left: 50px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}
/* .mail {
  height: 16px;
  width: 10px;
} */
.icon-smartphone {
  height: 16px;
  width: 20px;
  fill: var(--icon-color);
  margin-right: 10px;
  vertical-align: text-bottom;
}

.icon-envelope {
  height: 16px;
  width: 20px;
  fill: var(--icon-color);
  margin-right: 10px;
  vertical-align: text-bottom;
}

.header-address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-section {
  background-image: linear-gradient(to right, #2f303a40, #2f303a40),
    url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--dark-background-color);
  height: 600px;
  max-width: 1600px;
  outline: 1px solid var(--black);
  padding-top: 200px;
  padding-bottom: 280px;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.order-button {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: 248px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent-color);
  border-width: 0px;
}
.order-button:hover,
.order-button:focus {
  color: var(--accent-color);
  background-color: var(--white);
}
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-flex {
  display: flex;
  margin-bottom: 0px;
  justify-content: space-between;
}
.features-item {
  box-sizing: border-box;
  width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-item::before {
  display: inline-block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--light-background-color);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
.attention::before {
  background-image: url(../images/icons/antenna.svg);
}
.punctuality::before {
  background-image: url(../images/icons/clock.svg);
}
.planning::before {
  background-image: url(../images/icons/diagram.svg);
}
.technology::before {
  background-image: url(../images/icons/astronaut.svg);
}
.gallery {
  padding-bottom: 94px;
}
.gallery-item:not(:last-child) {
  margin-right: 30px;
}
.section-team {
  background-color: var(--light-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-member:not(:last-child) {
  margin-right: 30px;
}
.team-member {
  text-align: center;
  padding-bottom: 30px;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.section-title {
  color: var(--black);
}
h1.section-title {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  margin: 0px 0px;
  letter-spacing: 0.06em;
}
h2.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
h3.section-title {
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
}
h4.section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 30px;
  margin-bottom: 10px;
}
.job-title {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--black);
}
.project-title {
  font-size: 16px;
  line-height: 1.87;
}
.big-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-button-block {
  display: flex;
  width: 611px;
  margin-left: auto;
  margin-right: auto;
}
.button-item:not(:last-child) {
  margin-right: 8px;
}
.filter-button {
  border-width: 0;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  height: 38px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.62;
  color: var(--black);
  background: var(--light-background-color);
  white-space: nowrap;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white);
  background-color: var(--accent-color);
  outline: none;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 0px;
}
.clients {
  display: flex;
  justify-content: space-between;
}
.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
}
.portfolio-item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}
.portfolio-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.item-box {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}
.social-media {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-media-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}

.social-media-item:not(:last-child) {
  margin-right: 10px;
}

.social-media-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.social-media-link:hover .social-media-icon,
.social-media-link:focus .social-media-icon {
  fill: var(--white);
}
.icon-client {
  fill: var(--icon-color);
}

.clients-link {
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}
.clients-link:hover .icon-client,
.clients-link:focus .icon-client {
  fill: var(--accent-color);
}

.icon-block:not(:last-child) {
  margin-right: 30px;
}
.icon-block:first-child svg {
  width: 44px;
  height: 49px;
}

.icon-block:nth-child(2) svg {
  width: 40px;
  height: 52px;
}
.icon-block:nth-child(3) svg {
  width: 43px;
  height: 42px;
}
.icon-block:nth-child(4) svg {
  width: 80px;
  height: 42px;
}
.icon-block:nth-child(5) svg {
  width: 59px;
  height: 47px;
}
.icon-block:last-child svg {
  width: 88px;
  height: 45px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
  color: var(--gray);
}
.footer-flex {
  display: flex;
}
.footer-contacts {
  margin-top: 20px;
}
.address {
  color: var(--white);
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-color-header {
  color: #000000;
}
.logo-color-footer {
  color: #ffffff;
}
/* .footer-media {
  margin-top: 20px;
  justify-content: flex-start;
} */
.footer-media-title {
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
  color: var(--white);
}
.footer .social-media-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer .social-media-icon {
  fill: var(--white);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--accent-color);
}

.social-media-footer {
  margin-left: 70px;
  margin-top: 12px;
}
